@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

body {
  margin: 0;
  min-width: 768px;
}
.wrap {
  position: relative;
  display: block;
  width: 100%;
  /* overflow: hidden; */
}
.nav_sticky {
  position: sticky;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #343a40;
  z-index: 999;
  top: 0px;
  display: none;
}
.section {
  position: relative;
  display: block;
  width: 100%;
}
.sticky {
  position: sticky;
  display: block;
  width: 100%;
  height: 100vh;
  /*background-color: rgb(194, 30, 223);*/
  top: 0px;
  /*padding-top: 60px;*/
  overflow: hidden;
}
#section01 {
  height: 500vh;
  font-family: "Noto Sans TC";
}
#section02 {
  height: 400vh;
  margin-bottom: -100vh;
}
#section03 {
  height: 400vh;
  margin-bottom: -100vh;
}
#section04 {
  height: 500vh;
  margin-bottom: -100vh;
}
#section05 {
  height: 100vh;
}

.content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#section01_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: darkred;
}
.section01_g01 {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 4rem;
  /*width: 300px;
  height: 100px;*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*background-color: darkviolet;*/
}
.section01_g01_text01 {
  position: relative;
  display: inline-block;
  color: #fff;
  /*left: 0px;
  top: 0px;*/
  /*left: 50%;
  top: 50%;*/
  font-size: 4rem;
  /*transform: translate(-50%, -50%) scale(0);*/
  /*letter-spacing: 1rem;*/
  white-space: nowrap;
}
#section01_camera01 {
  position: absolute;
  display: block;
  /*left: 50%;
  top: 50%;*/
  perspective: 500px;
  perspective-origin: center center;
  transform-style: 3d;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#section01_box01 {
  position: absolute;
  display: block;
  left: 50%;
  /*top: 50%;*/
  /*width: 50px;
  height: 50px;*/
  /*background-color: darkslategray;*/
  color: #fff;
  font-size: 3rem;
}

#section02_g01 {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 4rem;
  left: 50%;
  top: 50%;
  /*transform: translate(-50%, -50%) scale(0);*/
  white-space: nowrap;
  /*filter: url(#f1);*/
}
.section02_g01_text01 {
  display: inline-block;
  /*text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);*/
}
#section02_line01 {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0px;
  background-color: #fff;
}
#section02_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #006400;
}

#section03_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(20, 70, 128);
  background-image: url("./section03_bg.png");
  background-position: center center;
  background-size: auto 100px;
  /*filter: url(#f1);*/
}
#section04_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #9932cd;
}
.section04_path {
  fill: none;
  stroke: #ccc;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  /* stroke: url(#stroke); */
  /* filter: url(#f3); */
}

#section05_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(108, 68, 134);
}
#section05_wave {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: -2px;
  /*background-image: url("./section03_bg.png");*/
  background-image: linear-gradient(90deg, rgb(255, 217, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-position: center top;
  background-size: 100px 100%;
  background-repeat: no-repeat;
  /* -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); */
}
/*.asdasd {
  position: absolute;
  display: block;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 3000vh;
  background-color: darkred;
}*/
