@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

body {
  margin: 0;
  min-width: 768px;
  overflow: hidden auto;
}
.wrap {
  position: absolute;
  display: block;
  width: 100%;
  height: 1800vh;
}
.nav_sticky {
  position: sticky;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #343a40;
  z-index: 999;
  top: 0px;
  backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}
.section {
  position: absolute;
  display: block;
  width: 100%;
  left: 0px;
}
.sticky {
  position: sticky;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0px;
}
#section00 {
  height: 200vh;
  top: 0vh;
}
#section01 {
  height: 500vh;
  top: 0vh;
}
#section02 {
  height: 500vh;
  top: 500vh;
}
#section03 {
  height: 500vh;
  top: 700vh;
}
#section04 {
  height: 600vh;
  top: 1200vh;
}

.content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#section00_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(300, 8%, 7%);
}
#section00_text01 {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: "Noto Sans TC";
  letter-spacing: 1rem;
  text-indent: 1rem;
  text-shadow: 0 0 10px hsla(0, 0%, 100%, 0.5);
}
#section00_arrow01 {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.8rem 1rem 0 1rem;
  border-color: #ffffff transparent transparent transparent;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  /* filter: drop-shadow(0 0 10px hsla(0, 0%, 100%, 0.5)); */
  animation: section00_arrow01_a 1s infinite;
}
@keyframes section00_arrow01_a {
  0% {
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 5px hsla(0, 0%, 100%, 0.5));
  }
  50% {
    transform: translate(-50%, -100%);
    filter: drop-shadow(0 0 10px hsla(0, 0%, 100%, 0.5));
  }
  100% {
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 5px hsla(0, 0%, 100%, 0.5));
  }
}
#section01_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: darkred;
}

.section01_g01 {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 4rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section01_g01_texts {
  position: relative;
  display: block;
}
.section01_g01_texts_01 {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  white-space: nowrap;
}
#section01_camera01 {
  position: absolute;
  display: block;
  perspective: 500px;
  perspective-origin: center center;
  transform-style: 3d;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#section01_box01 {
  position: absolute;
  display: block;
  left: 50%;
  color: #fff;
  font-size: 3rem;
}

#section02_g01 {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 4rem;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.section02_g01_texts {
  position: relative;
  display: block;
}
.section02_g01_text01 {
  display: inline-block;
}
#section02_line01 {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0px;
  background-color: #fff;
}
#section02_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #006400;
}
#section02_article {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-color: #1d861d;
  margin-top: 20px;
}

#section03_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*filter: url(#f1);*/
}
#section03_wave01 {
  position: absolute;
  display: block;
  width: 100%;
  margin-top: -60px;
}
#section03_wave02 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 70, 128);
}
.section03_bubbles {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.section03_bubble01 {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.2); */
  /*border: 1px solid #fff;*/
  /*animation: section03_bubble01_a 1.5s infinite;*/
  background-image: url(./section03_bubble.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes section03_bubble01_a {
  0% {
    width: 32px;
    height: 30px;
  }
  50% {
    width: 30px;
    height: 32px;
  }
  100% {
    width: 32px;
    height: 30px;
  }
}

#section03_g01 {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 4rem;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.section03_g01_texts {
  position: relative;
  display: block;
}
.section03_g01_text01 {
  display: inline-block;
}

#section04_bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #9932cd;
}
.section04_path {
  fill: none;
  stroke: #ccc;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  /* stroke: url(#stroke); */
  /* filter: url(#f3); */
}
#section04_text01 {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
